/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import bootstrap-sprockets
@import bootstrap

body
  padding-top: 20px

.navbar-inverse
  background-color: rgba(0,0,0,0.65)
  border-color: rgba(0,0,0,0.1)
  .navbar-toggle
    background-color: rgba(0,0,0,0.2)
    border-color: rgba(0,0,0,0.1)
  .navbar-brand
    color: #aaa
  .navbar-nav
    li
      a
        color: #aaa
      .active
        color: #fff!important

.image-holder
  height: 1000px
  background-image: url(image-path('newyork.jpg'))
  background-position: center top
  background-repeat: no-repeat
  background-size: cover
  position: fixed
  top: 0
  display: block
  width: 100%
  z-index: -1000
  opacity: 0.5

.jumbotron
  background: rgba(0,0,0,0.65)
  color: #ddd
  border-bottom: 1px solid rgba(229,229,229,0.75)

.box
  position: relative
  background: rgba(255,255,255,0.1)
  margin: 20px
  padding: 20px
  //min-height: 200px
  display: block
  .btn
    min-height: 50px
    font-size: 20px
    line-height: 50px

.text
  font-size: 15px
  line-height: 20px
  margin-bottom: 20px
  min-height: 100px

.footer
  color: #aaa
  a
    color: #aaa
