!!!
%html
  %head
    %title WorkPay Calculator
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-inverse
        .navbar-header
          %button.navbar-toggle{data: {toggle:'collapse', target:'#menubar'}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to 'PaySlip App', root_path, class: 'navbar-brand'
        #menubar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li=link_to 'Home', root_path, class: ('active' if controller_name == 'home')
            %li=link_to 'Employees', employees_path, class: ('active' if controller_name == 'employees')
            %li=link_to 'Payslips', payslips_path, class: ('active' if controller_name == 'payslips')

      - unless current_page?(root_url)
        %ol.breadcrumb
          =render_crumbs
      =render 'layouts/messages'

      = yield
      .footer
        - unless controller_name == 'home'
          %hr
        =link_to "Jampana Varma", "http://www.codevarma.com"
        |
        =link_to "LinkedIn", "http://www.linkedin.com/in/jampanavarma"
        |
        =link_to "Twitter", "http://twitter.com/jvssvarma"
        |
        =link_to "GitHub", "http://github.com/jvssvarma"


    - if controller_name == 'home'
      .image-holder
